[submodule "gabiru/themes/PaperMod"]
	path = gabiru/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "gabiru/public"]
	path = gabiru/public
	url = https://github.com/gbrlferz/gbrlferz.github.io.git
	branch = main
[submodule "gabiru/themes/paper"]
	path = gabiru/themes/paper
	url = https://github.com/nanxiaobei/hugo-paper
[submodule "gabiru/themes/hextra"]
	path = gabiru/themes/hextra
	url = https://github.com/imfing/hextra.git
